<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <title>渠道管理</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/handsontable/0.31.1/handsontable.full.min.css" rel="stylesheet">
    <!--external css-->
    <link href="public/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="public/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="public/css/style.css" rel="stylesheet">
    <link href="public/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        div {
            box-sizing: border-box;
        }
        .width-table {
            width: 100%;
        }
        .logo-img {
            height: 20px;
            width: 20px;
            border-radius: 100%;
        }
        .thumbnail .ewm-image {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
            border: 1px solid #eaeaea;
        }
        .button-group {
            margin: 10px auto;
            text-align: center;
        }
        .qiniu-btn {
            color: #1B8AFA;
            border:1px solid #1B8AFA;
        }
        .qiniu-btn:hover {
            color: #1B8AFA;
            border:1px solid #1B8AFA;
        }
        .highlight {
            padding: 9px 14px;
            margin-bottom: 14px;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
            border-radius: 4px;
            position: relative;
        }
        .highlight .btn-clipboard {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            display: block;
            padding: 5px 8px;
            font-size: 12px;
            color: #767676;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #e1e1e8;
            border-radius: 0 4px 0 4px;
        }
        .language-html {
            word-break: break-all;
        }
        .ewm-channel {
            color: #c7254e;
        }
        .ds .checked {
            background: lightgoldenrodyellow;
        }
        .ds .checked:hover {
            background: lightgoldenrodyellow;
        }
        .notice-wrap {
            height: 50px;
        }
        .text-notice {
            display: inline-block;
            height: 26px;
            background: rgba(0,0,0,0.6);
            color: #ffffff;
            margin: 0 auto;
            line-height: 26px;
            padding:0px 10px;
            border-radius: 5px;
            display: none;
            width: 100px;
        }
    </style>
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <a href="index.html" class="logo"><b>渠道管理</b></a>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <!--<aside>
        <div id="sidebar"  class="nav-collapse ">
            &lt;!&ndash; sidebar menu start&ndash;&gt;
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                <h5 class="centered">大当家</h5>

                <li class="mt">
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>渠道链生成</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="general.html">General</a></li>
                        <li><a  href="buttons.html">Buttons</a></li>
                        <li><a  href="panels.html">Panels</a></li>
                    </ul>
                </li>
            </ul>
            &lt;!&ndash; sidebar menu end&ndash;&gt;
        </div>
    </aside>-->
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="title detail-bar">
                        <div class="content">
                            当前选择:<span class="channel-name">暂无渠道</span>(<muted>vHMC:<span class="channel-vhmc">无</span> | vHMP:<span class="channel-vhmp">无</span></muted>)
                        </div>
                        <div class="right">
                            <button type="button" class="btn btn-default navbar-btn url-button" onclick="makeUrl()">生成短链接</button>
                        </div>
                    </div>
                    <div class="row mtbox" style="text-align: center;margin-bottom: 0px">
                        <div id="example" style="width: 100%;margin: 0 15px;text-align: left"></div>
                        <div class="notice-wrap">
                            <div class="text-notice"><i class="fa fa-smile-o" aria-hidden="true"></i> 复制成功</div>
                        </div>
                    </div><!-- /row mt -->


                    <div class="title detail-bar">
                        <div class="content">
                            二维码(需要在上面选择一行记录！)
                        </div>
                        <div class="right">
                            <button type="button" class="btn btn-default navbar-btn url-button" onclick="makeEWM()">生成二维码</button>
                        </div>
                    </div>
                    <div class="row mtbox">
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <h3 style="text-align: center">长链接</h3>
                                <div id="longEwm" class="ewm-image"></div>
                                <div class="button-group">
                                    <div href="#" class="btn btn-default btn-sm qiniu-btn" role="button" onclick="uploadStreamToQiNiu('long')"><i class="fa fa-cloud-upload" aria-hidden="true"></i>上传到七牛</div>
                                    <div href="#" class="btn btn-default btn-sm" role="button" onclick="downloadEWM('long')"><i class="fa fa-download" aria-hidden="true"></i>下载到本地</div>
                                </div>
                                <div class="caption">
                                    <figure class="highlight">
                                        <p>当前链接：<span class="current-title"></span></p>
                                        <code id="long-org-address" class="language-html" data-lang="html">
                                        </code>
                                        <p style="margin-top: 10px">当前渠道：</p>
                                        <div class="language-html ewm-channel" data-lang="html" class="long-qiniu-address">
                                        </div>
                                    </figure>
                                    <figure class="highlight">
                                        <div class="zero-clipboard"><span class="btn-clipboard btn-clipboard-hover" data-clipboard-target="#long-qiniuurl">Copy</span></div>
                                        <p>长链接二维码七牛地址：</p>
                                        <code id="long-qiniuurl" class="language-html" data-lang="html" class="long-qiniu-address">
                                        </code>
                                    </figure>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <h3 style="text-align: center">短链接</h3>
                                <div id="shortEwm" class="ewm-image"></div>
                                <div class="button-group">
                                    <div href="#" class="btn btn-default btn-sm qiniu-btn" role="button" onclick="uploadStreamToQiNiu('short')"><i class="fa fa-cloud-upload" aria-hidden="true"></i>上传到七牛</div>
                                    <div href="#" class="btn btn-default btn-sms" role="button" onclick="downloadEWM('short')"><i class="fa fa-download" aria-hidden="true"></i>下载到本地</div>
                                </div>
                                <div class="caption">
                                    <figure class="highlight">
                                        <p>当前链接：<span class="current-title"></span></p>
                                        <code class="language-html" data-lang="html" id="short-org-address">
                                        </code>
                                        <p style="margin-top: 10px">当前渠道：</p>
                                        <div class="language-html ewm-channel" data-lang="html" class="short-qiniu-address">
                                        </div>
                                    </figure>
                                    <figure class="highlight">
                                        <div class="zero-clipboard"><span class="btn-clipboard btn-clipboard-hover" data-clipboard-target="#short-qiniuurl">Copy</span></div>
                                        <p>短链接二维码七牛地址：</p>
                                        <code id="short-qiniuurl" class="language-html" data-lang="html" class="short-qiniu-address">
                                        </code>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /col-lg-9 END SECTION MIDDLE -->
                <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                    <div class="title">
                        <div class="content">
                            有效渠道列表
                        </div>
                        <div class="right">
                            <i class="fa fa-search-minus hidden-block" aria-hidden="true" onclick="toggleSearch(true)"></i>
                            <i class="fa fa-search" aria-hidden="true" onclick="toggleSearch(false)"></i>
                            <i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>
                        </div>
                    </div>
                    <div id="search-div" class="search-div hidden-block">
                        <input id="search-text" type="text" placeholder="请输入渠道名称">
                    </div>
                    <div id="channel_list">
                        <% for(var i=0; i<channelList.length; i++) {%>
                        <div class="desc" data-id="<%= channelList[i]._id %>">
                            <div class="thumb">
                                <% if (channelList[i].logoUrl) { %>
                                <img src="<%= channelList[i].logoUrl %>" class="logo-img" alt="">
                                <% } else { %>
                                <span class="badge bg-theme">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                <% } %>
                            </div>
                            <i class="fa fa-trash-o delete operator" aria-hidden="true" onclick="deleteChannel('<%= channelList[i]._id %>','<%= channelList[i].channelName %>')"></i>

                            <div class="details"
                                 onclick="makeChannel('<%= channelList[i].vhmc %>','<%= channelList[i].vhmp %>','<%= channelList[i].channelName %>','<%= channelList[i].logoUrl %>')">
                                <div>
                                    <strong><%= channelList[i].channelName %></strong>
                                    <br/>
                                    <muted>vHMC:<%= channelList[i].vhmc%></muted>
                                    <br/>
                                    <muted>vHMP:<%= channelList[i].vhmp%></muted>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div><!-- /col-lg-3 -->
            </div><! --/row -->
        </section>
    </section>
    <!--main content end-->
</section>

<!-- Modal -->
<section class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加渠道</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="channel_form" action="/submitChannel">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">渠道名称:</label>
                        <input type="text" class="form-control" name="channelName" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="vhmc" class="form-control-label">vHMC:</label>
                                <input id="vhmc" type="text" name="vhmc" class="form-control" aria-label="Text input with checkbox">
                            </div>
                            <div class="col-lg-6">
                                <label for="vhmp" class="form-control-label">vHMP:</label>
                                <input id="vhmp" name="vhmp" type="text" class="form-control"
                                       aria-label="Text input with radio button">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="file-input">
                                <img id="logo_preview_img" src="" class="preview-img" alt="">
                                <input type="file" name="uploadLogo" class="upload-logo" onchange="imageChange()">
                                <input id="logoUrl" type="text" name="logoUrl" value=""/>
                            </div>
                            <span> 渠道logo </span> <span id="clearImg" class="clear-img-btn" onclick="clearImg()">清除</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="addChannel()" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</section>

<div class="text-notice"></div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"><\/script>')</script>
<!--<script src="js/bootstrap.min.js"></script>-->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/handsontable/0.31.1/handsontable.full.min.js"></script>
<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://files.cnblogs.com/files/pfbk/utf.js"></script>
<!--<script type="text/javascript" src="http://files.cnblogs.com/files/pfbk/jquery.qrcode.js"></script>-->
<script type="text/javascript" src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="//cdn.bootcss.com/clipboard.js/1.6.1/clipboard.min.js"></script>
<script src="public/scripts/qiniu_upload.js"></script>
<script src="public/scripts/channel_manager.js"></script>
<script type="application/javascript">
    var currentChannel = {};
    var handsontableSelectRow = null;
    var qiniuUploadUrl = 'http://up-z0.qiniu.com/putb64/-1';
    var qiniuReadUrl = 'http://file.ihealthcoming.com/'

    /** 生成二维码的 **/
    function creatqr(jqObj,url, logoUrl) {
        jqObj.html("");
        url && jqObj.qrcode({ width: 200, height: 200, text: url, top:10, left:10});
        console.log(jqObj.find("canvas")[0]);
        var canvas = jqObj.find("canvas")[0];
        if (canvas&&logoUrl) {
            var ctx = canvas.getContext('2d');
            var img = new Image();
            img.onload = function(){
                //边框线条宽度
                ctx.lineWidth = 4;
                //边框线条颜色
                ctx.strokeStyle = "#fff";
                ctx.lineJoin = 'round';	//端点的样式-圆角
                ctx.strokeRect((canvas.height-46)/2,(canvas.height-46)/2,46,46);
                ctx.drawImage(img,(canvas.height-45)/2,(canvas.height-45)/2,45,45);
            }
            img.src = logoUrl;
        }
    }

    /** 下载二维码 **/
    function exportCanvasAsPNG(canvas, fileName) {
        var MIME_TYPE = "image/png";
        var dlLink = document.createElement('a');
        dlLink.download = fileName;
        dlLink.href = canvas.toDataURL("image/png");
        dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.href].join(':');
        document.body.appendChild(dlLink);
        dlLink.click();
        document.body.removeChild(dlLink);
    }
    function downloadEWM(str){
        if (str == 'short') {
            exportCanvasAsPNG($('#shortEwm').find("canvas")[0],'短链接_' +$('.ewm-channel').html()+ '_' + $('.current-title').html() +'.png');
        }
        if (str == 'long') {
            exportCanvasAsPNG($('#longEwm').find("canvas")[0],'长链接_' +$('.ewm-channel').html()+ '_' + $('.current-title').html() +'.png');
        }
    }
    function uploadStreamToQiNiu(str){
        var imageDataStr = null;
        if (str == 'short') {
            imageDataStr = $('#shortEwm').find("canvas")[0].toDataURL("image/png");
        }
        if (str == 'long') {
            imageDataStr = $('#longEwm').find("canvas")[0].toDataURL("image/png");
        }
        if(!imageDataStr)return;
        uploadToken().then(resp => {
            var uptoken = resp.data.uptoken;
            var url = "http://up-z0.qiniu.com/putb64/-1"; //非华东空间需要根据注意事项 1 修改上传域名
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange=function(){
                if (xhr.readyState==4){
                    $('#' + str + '-qiniuurl').html(qiniuReadUrl + JSON.parse(xhr.responseText).key);
                }
            }
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/octet-stream");
            xhr.setRequestHeader("Authorization", "UpToken " + uptoken);
            xhr.send(imageDataStr.substring(imageDataStr.indexOf(',')+1));
        },error=>{});
    }
    function makeEWM() {
        if(!checkData()){
            return;
        }
        if (handsontableSelectRow == null) {
            alert('请选择一行记录！');
            return;
        }
        cleanEWM();
        $('#long-org-address').html(hot.getDataAtCell(handsontableSelectRow,1));
        $('#short-org-address').html(hot.getDataAtCell(handsontableSelectRow,3));
        $('.current-title').html(hot.getDataAtCell(handsontableSelectRow,0));
        $('.ewm-channel').html((currentChannel.channelName||'无渠道') + '(vHMC:' + (currentChannel.vhmc||'无')  + ' | vHMP:' + (currentChannel.vhmp||'无') + ')')
        /** 同时生成短链接和长链接 **/
        creatqr($('#shortEwm'),hot.getDataAtCell(handsontableSelectRow,3),currentChannel.logoUrl);
        creatqr($('#longEwm'),hot.getDataAtCell(handsontableSelectRow,1),currentChannel.logoUrl);
        handsontableSelectRow = null;
    }
    function cleanEWM(){
        $('#shortEwm').html('');
        $('#longEwm').html('');
        $('#short-qiniuurl').html('');
        $('#long-qiniuurl').html('');
        $('#long-org-address').html('');
        $('#short-org-address').html('');
        $('.current-title').html('');
        $('.ewm-channel').html();
    }

    $( document ).ready(function() {
        var clipboard = new Clipboard('.btn-clipboard');
        clipboard.on('success', function(e) {
            console.log("复制成功")
        });
        var $textNode = $('.text-notice');
        var clipbord2 = new Clipboard('.width-table',{
            text:function (trigger) {
                if (!trigger.innerText || $(trigger).parent().get(0).tagName.toLowerCase()!='tr') {
                    return null;
                }
                return trigger.innerText;
            }
        });
        clipbord2.on('success', function(e) {
            $textNode.fadeIn();
            setTimeout(function () {
               $textNode.fadeOut();
            },500);
        });

    });

    //检查一下是不是只有一行有效记录
    function checkData(){
        var datas = hot.getData();
        if (datas && datas.length) {
            var _arr = datas.filter(function(item){
                return item[0]||item[1]||item[2]||item[3];
            });
            if (_arr.length == 1) {
                handsontableSelectRow = 0
            }
            if(_arr.length == 0) {
                return false;
            }
        }
        return true;
    }
</script>
</body>
</html>